<phpunit bootstrap="vendor/autoload.php">
    <php>
        <includePath>.</includePath>
        <ini name="date.timezone" value="Europe/Berlin"/>
    </php>
    <logging>
        <log type="coverage-clover" target="phpunit/logs/clover.xml"/>
        <log type="json" target="phpunit/logs/coveralls-upload.json"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="tests">
            <directory>phpunit/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
